body {
  background: rgb(255, 255, 255);
  min-height: 100vh;
  color: black;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;;
  margin: 0;
}

nav {
  display: flex;
  justify-content: center;
}

.topnav {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  overflow: hidden;
  background: white;
  color: black;
  height: 70px;
  width: 1000px;
  line-height: 70px;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

a {
  font-size: 1.5em;
  color: black;
  text-decoration: none;
}

.cart {
  display: none;
  font-size: 1.5em;
}

main {
  display: flex;
  justify-content: center;
  align-content: center;
}

.fall {
  text-align: center;
  height: 44px;
  line-height: 44px;
  background-color: rgb(149, 155, 185);
}

.pitch {
  text-align: center;
}

h1 {
  text-align: center;
  font-family: inherit;
  font-size: 3em;
}

h2 {
  font-family: inherit;
  font-size: 1.5em;
  text-align: center;
}

.forest {
  width: 100%;
}

footer {
  background: black;
  color: gray;
  font-size: 15px;
  padding: 10px;
  text-align: center;
  bottom: 0;
  position: bottom;
}

.container {
  position: relative;
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.container .card {
  width: 100%;
  align-content: center;
}

.container .card .imgBx {
  position: relative;
  width: 100%;
  height: 310px;
  overflow: hidden;
}

.container .card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease-in-out;
}

.container .card:hover .imgBx img {
  transform:scale(1.5)
}

.content {
  text-align: center;
  height: 150px;
}

form {
  align-items: center;
  text-align: center;
}

input {
  border: solid black 1px;
  font-size: 12pt;
  padding: 12px 15px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  color: black;
  background-color: white;
}

::placeholder {
  color: black;
}

.button {
  background-color: #002b88;
  border: none;
  border-radius: 30px;
  margin: 20px;
  color: white;
  height: 50px;
  width: 150px;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background: #1b91ff;
  -webkit-transition: .5s;
  transition: .5s;
}

.form-error {
  display: none;
  color: red;
  font-size: 17px;
  margin-top: 2px;
}

.about_us {
  width: 100%;
}

p {
  text-align: center;
  font-size: 2em;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 600px) {
  .topnav img {display: none;}
}